<section id="about">
<h2 class="text-center ">About Me</h2>
<p>Hi, mi name is Jose Martinez, I study Computer Science at <a href="http://www.unitec.edu/" target="_blank">Unitec</a>. I am 19 years old born in La Ceiba Atlantida currently living in San Pedro Sula. </p>
</div>
</div>
</section>
<section id="Portafolio">
<div class="container-fluid">
<h2 class="text-center">Portafolio</h2>

<div class="thumbnail">
<img src="https://placeholdit.co//i/500x250?&bg=333333&fc=ffffff&text=proyecto">
<div class="text-center">
           EASY LINE
         </div>
</div>  
<div class="thumbnail">
<img src="https://placeholdit.co//i/500x250?text=Proyecto">
<div class="text-center">
           USITECH
         </div>
         </div>
         <div class="thumbnail">
<img src="https://placeholdit.co//i/500x250?&bg=111111&fc=ffffff&text=proyecto">
<div class="text-center">
           UBER APP
         </div>
         </div>
</div>
</section>

<footer id="Contact" class="container-fluid">
  <div>
    <section id="lab_social_icon_footer">
<!-- Include Font Awesome Stylesheet in Header -->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
        <div class="text-center center-block">
                <a href="https://www.facebook.com/jr19986"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
	            <a href="https://twitter.com/JRMartinez_12"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
	            <a href="mailto:#"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
  </div>
    </div>
</div>
</section>
</footer>
